<div class="row row-eq-height">
  <div class="col-sm-4 time-trial-columns">

    <div class="card-student">
      <%= image_tag @time_trial.attendance_a.student.photo_url, class: "avatar", alt: "avatar" %>
      <div><%= @time_trial.attendance_a.student.first_name %> <%= @time_trial.attendance_a.student.last_name %></div>
    </div>
    <div class="card-student">
      <%= image_tag @time_trial.attendance_b.student.photo_url, class: "avatar", alt: "avatar" %>
      <%= @time_trial.attendance_b.student.first_name %> <%= @time_trial.attendance_b.student.last_name %>
    </div>
  </div>
  <div class="col-sm-4 time-trial-columns" style="margin-left: 3em;">
    <h1 style="text-align: center;">Lesson Goal</h1>
    <p style="text-align: center;" ><strong><%= @time_trial.lesson.learning_goal %> for <%= @time_trial.lesson.time_goal %> seconds</strong></p>
    <div id="chronoExample">
      <div class="values" style="font-size: 4em;">00:00:00</div>
      <div style="margin-top: 2em;">
        <button class="startButton">Start</button>
        <button class="pauseButton">Pause</button>
        <button class="stopButton">Stop</button>
        <button class="resetButton">Reset</button>
      </div>
      <%# If time trial has audio, then add the seconds to the time trial, save it and redirect to the lesson show page %>
      <div style="margin-top: 2em;">
        <%= simple_form_for([@time_trial.lesson, @time_trial], html: { id: 'time-trial-seconds'}) do |f| %>
          <%= f.hidden_field :seconds %>
          <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card-feedback">
    </div>
  </div>
</div>
