<div class="container">
  <%= render 'layouts/teacher_wrapper' %>
  <%= render 'layouts/teacher_course_wrapper' %>
  <%= render 'layouts/teacher_lesson_wrapper' %>
  <% if @lesson.student_time_trials(@student).empty? %>
    <div class="row">
      <div class="col-sm-6">
        Waiting for <%= "#{@student.first_name} #{@student.last_name}" %> to complete first conversation
      </div>
    </div>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" colspan="4"> </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @lesson.student_time_trials(@student).each_with_index do | trial, index | %>
          <tr>
            <th scope="row"><%= index += 1 %></th>
            <td><%= trial.attendance_a.student.first_name %> <%= trial.attendance_a.student.last_name %></td>
            <td> and </td>
            <td><%= trial.attendance_b.student.first_name %>  <%= trial.attendance_b.student.last_name %></td>
            <td>
              <% if trial.completed %>
                Trial complete
              <% else %>
                Trial not complete
              <% end %>
            </td>
            <td>
              <% if trial.audio.file %>
                <%= audio_tag trial.audio, controls: true %>
              <% else %>
                No audio file uploaded
              <% end %>
            </td>
          </tr>
          <% if trial.completed %>
            <tr>
              <td colspan="6"><strong>Homework:</strong><p>Write comments for each of the mistakes in the conversation below.</p></td>
              <td colspan="2"><input type="checkbox" id="check-all" style="display: none;"></input><label for="check-all"">Check all?</label></td>
            </tr>
            <% trial.mistakes.each_with_index do | mistake, index | %>
              <tr>
                <td colspan="3">
                  <%= mistake.category %> mistake at <%= (mistake.created_at - trial.started_at).round(2) %>
                </td>
                <% @homework = mistake.homeworks.find_by(student: @student) %>
                <%# trial.homeworks.find_by(student: current_student) %>
                <td colspan="3">
                <%= simple_form_for @homework, remote: true do |form| %>

                    <%= form.input :comment %>
                    <%= form.input :teacher_feedback %>
                    <%= form.input :approved %>
                    <%= form.button :submit, class: 'submit-homework' %>
                <% end %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td colspan="2">
                <input type="checkbox" id="submit-all" style="display: none;"></input><label for="submit-all">Submit all homework</label>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="row">
    <div class="col-sm-4"></div>
  </div>
</div>

<script>
var homeworkApprovedChecks = document.querySelectorAll('#homework_approved')

$(document).ready(function() {
  $("#check-all").change(function() {
  if (this.checked){
    homeworkApprovedChecks.forEach(function(element) {
      element.checked = true
    })
  }
  else {
    homeworkApprovedChecks.forEach(function(element) {
      element.checked = false
    })
  }})
});

var submitBtns = document.querySelectorAll('.edit_homework .submit-homework')
// console.log(hwForms);
$(document).ready(function() {
  $("#submit-all").change(function() {
  if (this.checked){
    submitBtns.forEach(function(btn) {
      btn.click();
    })
  }
  else {
    $("#submit-all").style.display = 'none';
  }})
});

</script>


