<div class="banner">
  <div class="row">
  <h2>the complete solution for teaching communication skills</h2>

  <p><%= image_tag "check1.png", alt: "check_mark", width: 25 %> Improve Student Fluency Through Spontaneous Timed Conversation</p>
  <p><%= image_tag "check1.png", alt: "check_mark", width: 25 %> Capture and Save Conversation Audio for Reflective Learning</p>
  <p><%= image_tag "check1.png", alt: "check_mark", width: 25 %> Automatically Assign Homework Tasks</p>
  <h3><%= image_tag "arrow1.png", alt: "arrow", width: 40, height:45 %> <%= link_to "Get Started", new_teacher_registration_path %></h3>
  </div>
</div>


<div class="container1">

  <h2 class="landing_page">How It Works</h2>

<div class="land_card col-sm-3">
<%= image_tag "pick_two.png", alt: "pick two students", width: 220 %>
<p>Speakit choose two students at random to talk in front of the class</p>
</div>
<div class="land_card col-sm-3">
<%= image_tag "smartphone.png", alt: "talk", width: 220 %>
<p>Student uses their smartphone to record the conversation</p>
</div>
<div class="land_card col-sm-3">
<%= image_tag "teacher_laptop.png", alt: "teacher", width: 220 %>
<p>The teacher listens and logs mistakes using their keyboard to give as feedback</p>
</div>

<div class="land_card col-sm-3">
<%= image_tag "idea.png", alt: "idea", width: 220 %>
<p>Students can review conversations and fix their mistakes for homework</p>
</div>

</div>

