<div class="container">
  <h3>Lesson on <%= @lesson.start_time.strftime('%A, %b %d') %></h3>
<div class="row">
  <div class="col-sm-12">
    <table class="big-table table-striped ">
      <thead>
        <tr>
          <th scope="col" colspan="4">Conversations about <%= @lesson.learning_goal%> for <%= @lesson.time_goal %> seconds </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%# Only display time trials that the student was involved in %>
        <%# @time_trials.where(attendance_a OR attendance_b == current_student) %>
        <% current_student.lesson_time_trials(@lesson).each_with_index do | trial, index | %>
        <tr>
          <th scope="row"><%= index += 1 %></th>
          <td><%= trial.attendance_a.student.first_name %> <%= trial.attendance_a.student.last_name %></td>
          <td> and </td>
          <td><%= trial.attendance_b.student.first_name %>  <%= trial.attendance_b.student.last_name %></td>
          <td>
          <% if trial.completed %>
          Trial complete
          <% else %>
            <%= link_to "Join this trial", lesson_time_trial_path(@lesson, trial)%>
          <% end %>
          </td>
          <td>
          <% if trial.audio.file %>
            <%= audio_tag trial.audio, controls: true %>
          <% else %>
            No audio file uploaded
          <% end %>
          </td>
        </tr>
        <% if trial.completed %>
        <tr>
          <td colspan="6"><strong>Homework:</strong><p>Write comments for each of the mistakes in the conversation below.</p></td>
        </tr>
            <% trial.mistakes.each_with_index do | mistake, index | %>
            <tr>
            <td colspan="3">
              <%= mistake.category %> mistake at <%= (mistake.created_at - trial.started_at).round(2) %>
            </td>
            <td colspan="3">
              <% @homework = mistake.homeworks.find_by(student: current_student) %>
              <%# trial.homeworks.find_by(student: current_student) %>
              <%= simple_form_for @homework do |form| %>
                <%= form.input :comment %>
                <%= form.button :submit %>
              <% end %>
            </td>
          </tr>
            <% end %>
            <% end %>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-4">

      </div>
    </div>
  </div>
</div>



