<div class="container new_lesson">
  <div class="row">
    <div class="col-sm-4 create_lesson">
    <h1>Create a New Lesson</h1>
      <%= simple_form_for @lesson do |f| %>
        <%= f.input :learning_goal %>
        <%= f.input :time_goal %>

        <%= f.button :submit, class: "btn-primary" %>
      <% end %>
      <p><%= image_tag "book.png", alt:"book", width: 200%></p>
    </div>
    <!-- <div class="col-sm-2"></div> -->
    <div class="col-sm-8 image">
    <%= image_tag "speak_new.png", alt:"speak_new", width: 500%>
  </div>
  </div>
</div>

