<div class="container"></container><h2>Lesson page for Lesson on <%= @lesson.start_time.strftime('%A, %b %d') %></h2>
  <p> Waiting for students to join... </p>

  <% if teacher_signed_in? %>
  <div class="row">
    <ol>
    <% @attendances.each do | a | %>
      <%# Only display students who have presence marked as true %>
      <% if a.present == true %>
      <div class="row">

        <div class="col-sm-4">
            <li><%= a.student.first_name %> <%= a.student.last_name %> is present </li>
        </div>
        <div class="col-sm-4">
          <%= link_to "Remove Student", unattend_attendance_path(a[:id]), method: :post %>
        </div>

      </div>
      <% end %>
    <% end %>
  </ol>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <%= link_to "Start lesson", lesson_time_trials_path(@lesson), method: :post %>
    </div>
  </div>
  <% end %>

</div>

