<div class="container"></container><h2>Lesson page for Lesson on <%= @lesson.start_time.strftime('%A, %b %d') %></h2>
  <% @attendances.each_with_index do | a, i | %>
    <div class="row">
    <%= i + 1 %>. <%= a.student.first_name %> <%= a.student.last_name %> has joined!
  </div>
  <% end %>
  <div class="row">
    <%= link_to "Start lesson with #{@attendances.count} students", lesson_time_trials_path(@lesson), method: :post %>
  </div>


</div>
