<div class="container">
  <div class="wrapper">
    <h2>Your Courses</h2>
    <div class="row">
      <% @courses.each do | course | %>
      <%= link_to course_path(course) do %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card course-card">
            <div class="card-category">
              <%= course.school %>
            </div>
            <div class="card-description">
              <h2><%= course.name %></h2>
              <p><%= course.description %></p>
            </div>

            <%= link_to "Create Lesson", new_course_lesson_path(course), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
    <%= link_to "Create Course", new_course_path(@course), class: "btn btn-primary" %>
  </div>
</div>
