<div class="container">
  <div class="wrapper">
    <div class="col-sm-course-show-header">
      <h3> <%= @course.name %> </h3>
      <div class="course-show-row-item row no-margin">
        <div class="col-sm-10">
          <div class="row">
            <div class="course-show-row title-row">
              <div class="course-show-row-item course-show-row-lesson-number">
                <h5>Lesson</h5>
              </div>
              <div class="course-show-row-item course-show-row-date">
                <h5>Date</h5>
              </div>
              <div class="course-show-row-item course-show-row-learning-goal">
                <h5>Learning Goal</h5>
              </div>
              <div class="course-show-row-item course-show-row-status">
                <h5>Status</h5>
              </div>
              <div class="course-show-row-item course-show-row-action">
              </div>
            </div>
            <% @course.lessons.each_with_index do | l, i| %>
            <div class="course-show-row <%= 'even' if i.even? %>">
              <div class="course-show-row-item course-show-row-lesson-number text-left">
                <%= i += 1 %>
              </div>
              <div class="course-show-row-item course-show-row-date">
                <%= l.start_time.strftime('%A, %b %d, %Y') %>
              </div>
              <div class="course-show-row-item course-show-row-learning-goal">
                <%= l.learning_goal %>
              </div>
              <% if l.completed == true %>
              <div class="course-show-row-item course-show-row-status" style="color:#000000;">Complete</div>
              <% elsif l.completed == false %>
              <div class="course-show-row-item course-show-row-status" style="color: #EE5F5B;">In Progress</div>
              <% end %>
              <% if student_signed_in? && l.completed == false %>
              <div class="course-show-row-item course-show-row-action">
                <%= simple_form_for [l, Attendance.new] do |f| %>
                <%= button_tag type: :submit, class: "btn-2" do %>
                <i class="fas fa-arrow-right"></i>
                <% end %>
                <% end %>
              </div>
              <% elsif current_teacher && l.completed == false %>
              <div class="course-show-row-action"><%= link_to '<i class="fas fa-arrow-right"></i>'.html_safe,
                lesson_path(l) %></div>
              <% else %>
              <div class="course-show-row-action"></div>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%if teacher_signed_in? %>
    <div class="new_lesson">
      <h3 class=>Create a New Lesson</h3>
      <%= simple_form_for([@course, @lesson], wrapper: :inline_form, html: { class: 'new-lesson-form form-inline' }) do |f| %>
      <div>
        <p>Goal</p>
        <%= f.input_field :learning_goal %>
      </div>
      <div>
        <p>Time in Seconds</p>
        <%= f.input_field :time_goal %>
      </div>
      <div>
        <%= f.submit class: "btn-primary" %>
      </div>
      <% end %>
    </div>
    <%end %>
  </div>
</div>
</div>

