<div class="navbar-speakit_live">
  <!-- Logo -->
  <a href="/" class="navbar-speakit_live-brand">
    <%= image_tag "speak_it_logo.png", alt:"speakit_live_logo"%>
  </a>

  <!-- Right Navigation -->
    <div class="navbar-speakit_live-right hidden-xs hidden-sm">

      <!-- Teacher Sign In -->
      <% if !student_signed_in? && !teacher_signed_in? %>
          <%= link_to "Teacher Sign In", new_teacher_session_path, class: "navbar-speakit_live-item navbar-speakit_live-link"  %>
        <% end %>

      <!-- Student Sign In -->
      <% if !student_signed_in? && !teacher_signed_in? %>
        <%= link_to "Student Sign In", new_student_session_path, class: "navbar-speakit_live-item navbar-speakit_live-link"  %>
      <% end %>

      <!-- Teacher is Signed In -->
      <% if teacher_signed_in? %>


        <%= link_to "Courses", courses_path, class: "navbar-speakit_live-item navbar-speakit_live-link" %>
        <%= link_to "Teacher Sign Out", destroy_teacher_session_path, method: :delete, class: "navbar-speakit_live-item navbar-speakit_live-link" %>

      <% end %>

      <!-- Student is Signed In -->
      <% if student_signed_in? %>
      <%= link_to "Courses", courses_path, class: "navbar-speakit_live-item navbar-speakit_live-link" %>
        <%= link_to "Student Sign Out", destroy_student_session_path, method: :delete, class: "navbar-speakit_live-item navbar-speakit_live-link" %>
      <% end %>
      <!-- Profile picture with dropdown list -->

    </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-speakit_live-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-speakit_live-dropdown-menu">

        <!-- Teacher Sign In or Sign Up -->
        <% if !student_signed_in? && !teacher_signed_in? %>
          <li><%= link_to "Teacher Sign In", new_teacher_session_path %></li>
          <li><%= link_to "Teacher Sign Up", new_teacher_registration_path %></a></li>
        <% end %>

        <!-- Student Sign In or Sign Up -->
        <% if !student_signed_in? && !teacher_signed_in? %>
          <li><%= link_to "Student Sign In", new_student_session_path %></li>
          <li><%= link_to "Student Sign Up", new_student_registration_path %></li>
        <% end %>

        <!-- Teacher is Signed In -->
        <% if teacher_signed_in? %>
          <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "Teacher Sign Out", destroy_teacher_session_path, method: :delete %></li>
        <% end %>

        <% if student_signed_in? %>
          <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "Student Sign Out", destroy_student_session_path, method: :delete %></li>
        <% end %>

      </ul>
    </div>
  </div>
</div>
