<div class="navbar-speakit_live">
  <!-- Logo -->
  <a href="/" class="navbar-speakit_live-brand">
    <%= image_tag "speak_it_logo.png", alt:"speakit_live_logo"%>
  </a>

  <!-- Right Navigation -->
    <div class="navbar-speakit_live-right hidden-xs hidden-sm">

    <% if !student_signed_in? && !teacher_signed_in? %>
        <%= link_to new_teacher_session_path, title: "Teacher", class: "navbar-speakit_live-item navbar-speakit_live-link" do  %>
          <%= image_tag 'teacher_icon.png', width: 45 %>
        <% end %>
      <% end %>
    <% if !student_signed_in? && !teacher_signed_in? %>
      <%= link_to new_student_session_path, title: "Student", class: "navbar-speakit_live-item navbar-speakit_live-link" do %>
          <%= image_tag 'student_icon.png', width: 45 %>
        <% end %>
    <% end %>
    <% if teacher_signed_in? %>
      <%= link_to "Teacher Sign Out", destroy_teacher_session_path, method: :delete %>
    <% end %>
    <% if student_signed_in? %>
      <%= link_to "Student Sign Out", destroy_student_session_path, method: :delete %>
    <% end %>
    <!-- Profile picture with dropdown list -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-speakit_live-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-speakit_live-dropdown-menu">
        <li><%= link_to "Sign In", new_teacher_session_path %></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </div>
</div>
