<div style="background-color: #F8F8FF;">
  <% @lesson.student_time_trials(student).each_with_index do | trial, index | %>
    <% if trial.completed %>
      <% trial.mistakes.each_with_index do | mistake, index | %>
        <div class="mistake-row">
          <div class="mistake-info">
            <div class="mistake-category">
              <div class="mistake-label">Mistake</div>
              <h4><%= mistake.category.capitalize %></h4>
            </div>
            <div class="mistake-time">
              <p>at <%= (mistake.created_at - trial.started_at).round(2) %> seconds</p>
            </div>
          </div>
          <% @homework = mistake.homeworks.find_by(student: student) %>
          <% if student_signed_in? %>
            <div class="mistake-student-box">
              <div class="mistake-label">
                Student Comment
              </div>
              <div style="margin-top: 18px;">
                <%= simple_form_for @homework, remote: true do |form| %>
                    <%= form.input :comment, class: 'comment-box', label: false %>
                    <%= button_tag "", style: 'display:none' %>
                <% end %>
              </div>
            </div>
            <div class="teacher-comment-form" style="height:154px; margin-bottom: 15px;">
              <div class="mistake-label">
                Teacher Feedback
              </div>
              <div class="content">
                <% if @homework.completed %>
                  <i class="fas fa-check-circle"></i>
                <% else %>
                  Awaiting approval
                <% end %>
                <%= @homework.teacher_feedback %>
              </div>
            </div>
          <% elsif teacher_signed_in? %>
            <div class="student-comment">
              <div class="mistake-label">
                Student Comment
              </div>
              <div class="student-comment-content">
                <%= @homework.comment %>
              </div>
            </div>

            <div class="teacher-comment-form">
              <div class="mistake-label" style="margin-bottom: 15px;">
                Teacher Feedback
              </div>
              <%= simple_form_for @homework, remote: true do |form| %>
                <%= form.input :completed %>
                <%= form.input :teacher_feedback, label: false %>
                <%= button_tag "", style: 'display:none' %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


